   <!-- ======= Resume Section ======= -->
   <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Jeslin J Varghese</h4>
            <p><em>Innovative and deadline-driven Web developer cum Designer with 1+ years of experience designing and developing user-centered web applications/websites from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>72A Elshaddai, Bhavana Nagar, Kollam, Kerala, IN 691008</li>
              <li>(91) 6282 3055 94</li>
              <li>jeslinjaisan@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master of Computer Applications (MCA)</h4>
            <h5>2018 - 2020</h5>
            <p><em>Kerala University</em></p>
            <p>Sree Narayana Institute of Technology<br>CGPA: 8.0<br>Kollam</p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Computer Applications (BCA)</h4>
            <h5>2011 - 2014</h5>
            <p><em>Bharathiar University</em></p>
            <p>Kongunadu Arts &amp; Science College<br>CGPA: 8.0<br>Coimbatore</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>FSD MEAN Developement</h4>
            <h5>2021 - Present</h5>
            <p><em>ICT Academy of Kerala. Thejaswini Building, Technopark, Trivandrum</em></p>
            <ul>
              <li>Developed Projects Using Angular and Nodejs</li>
              <li>Worked as a team and provided counsel on all aspects of the project. </li>
              <li>Used MongoDb as the database</li>
              <li>Hosted using AWS, Heroke and GIT</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Web Developer</h4>
            <h5>2020 - 2021</h5>
            <p><em>Cyberia Softwares Pvt Ltd, Nila Building, Technopark, Trivandrum</em></p>
         
            <ul>
              <li>Developed numerous Web Applications , Websites and Marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time.</li>
              <li>Recommended and consulted with clients for providing Web Ideas</li>
              <li>Created 4+ design presentations and proposals a month for Clients</li>
              <li>Developed Static and Dynamic Web Apps</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->